body{
  font-size: 16px;
  background-color: #FCF0EB;
  font-family: 'Maven Pro', sans-serif;
}

/* NavBar */
nav{
  border-bottom:1px lightgray solid;
}

.navbar{
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #fef0ea;
}

/* NavBar Logo */
.navbar-brand{
  border: 1px solid #495057;
  width:5.5%;
}

#logo-text{
  color:#495057;
  z-index: 2;
  font-size:1.5rem;
}

.nav-link:hover{
  color:#6700FF;
}
/* NavBar - Right Side Links */
/* NavBar - ACCOUNT */

.form-btn{
  font-size:.8rem;
  margin: 0 6%
}

.dropdown-menu{
  min-width: 15rem;
}

/*NAV - SAVED ARTICLES*/
.saved-caret::after{
  display:none;
}

#saved-article-note{
    display: flex;
    margin: .5rem;
    text-align: center;
}

/* HEADER */
.header {
  padding: 10% 0 5% 0;
  color: #101493;
}

.header.row{
 margin:0;
}
/* Header Logo */
.desk-logo{
  font-size:7rem;
}

/* Filters */

.filter-box ul{
  list-style:none;
}

.mobile-filters{
  display:none;
}

/* Filter CHECKBOXES */
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width: 30px;
    height: 30px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:transparent;
    border:1px solid #101493;
    cursor:pointer;
}

.instructions-line{
  display: none;
}

/* Bias Lib/Con Lines */
.bias{
  writing-mode: vertical-rl;
  text-orientation: sideways;
  padding-bottom: 13%;
  color: #101493;
  font-size: .9rem;
}

.bias-lib{
  transform: rotate(180deg);
}

.bias-con{
  padding-bottom:23%;
}

/* Filters Colors Box Details*/
.fade-box{
  border:1px #343436 solid;
}

.fade-box-mobile{
  display:none;
}
.fade-check{
  margin: 1.5px;
  padding:0;
}

.fade-check button{
  border:none;
  width:100%;
  height: 2.5rem;
}

/* Filter COLORS - Details */
.red1 {
  background: #ffa7a3;
  color: #ffa7a3;
}
.red1 a {
  color: black;
}
.red2 {
  background: red;
  color:red;
}
.red2 a {
  color: black;
}
.red3 {
  background: darkred;
  color: darkred;
}
.red3 a {
  color: black;
}
.red4 {
  background: #5E161E;
  color: #5E161E;
}
.purple {
  background: purple;
  color: purple;
}
.purple a {
  color: white;
}
.blue1 {
  background: lightblue;
  color: lightblue;
}
.blue1 a {
  color: black;
}
.blue2 {
  background: #6E00ED;
  color: #6E00ED;
}
.blue2 a {
  color: black;
}
.blue3 {
  background: blue;
  color: blue;
}
.blue3 a {
  color: black;
}
.blue4 {
  background: #22008D;
  color: #22008D;
}

/* MAIN */

/* Cards */
.element-item {
  border:black 1px solid;
  padding: 0;
  height: 300px;
}

.card {
  background-color: transparent;
  color: black;
  text-decoration: none;
}

/* Article Image */
.card-image {
  opacity: .35;
}

img {
  height: 300px;
  width: 100%;
}

/* Article Copy Text */
.article-text{
  bottom: 10%;
  position: absolute;
  left: 11%;
  width: 75%;
  text-align: left;
}
/* Save direction */
.fa {
  margin: 1%;
}

.sourceDisplay{
  border: 1px solid black;
  padding: 1%;
  margin: 0;
}

/* EMAIL LINE */
.App .email-line {
  text-align: justify;
}

/* Content Holder */
.holder{
  margin-top:3%;
  z-index:2;
  position: absolute;
  display:inline-flex;
  width:100%;
}

/* Email Instructions Box */
.emailer{
  border:3px solid black;
}

.emailer span{
  font-size:1.8rem;
}

/* Email Form Line */
.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.form-control:after{
  background:none;
}

.form-control:focus{
  background:transparent;
  box-shadow: none;
}

/* Email button */
#email-button{
    border:3px solid black;
    background:none;
    height: 7rem;
    width: 5rem;
}

#email-button:hover{
    background-color:lightgray;
}

/* Email Arrow Icon*/
.btn .fa{
  font-size: 5.5rem;
}

/* Email Line Background */
.background-div{
  height: 12rem;
}

/* Email Background Colors */
.background-div-lightblue{
  background: #4600FF;
  opacity:.6;
}
.background-div-purple{
  background: #4F00CF;
  opacity:.6;
}
.background-div-magenta{
  background: #90007F;
  opacity:.6;
}
.background-div-peach{
  background: #C50044;
  opacity:.6;
}
.background-div-red{
  background: #FC0000;
  opacity:.6;
}

/* FOOTER  */

/* Footer Logo */
.footer-logo h2 {
  font-size:3.7rem;
}

.footer-logo .row{
  justify-content: center;
}

/* Footer Logo Ball */
.ball{
  background-image:url("./OvalShadesLogo.png") ;
  height: 3.2rem;
  width: 3.2rem;
  margin: .2rem .2rem;
}
.ball1{
  transform: rotate(90deg);
}
.ball2{
  transform: rotate(180deg);
}
.ball3{
  transform: rotate(0deg);
}
.ball4{
  transform: rotate(270deg);
}

/* Footer Support Links */
.footer-head {
  font-size: 1.5rem;
  color: #073791;
  border-bottom: 1px solid;
  border-radius: 0;
}

/* Footer Contact/Ads */
.contact-ads {
  list-style:none;
  display:inline-flex;
}

.contact-ads a{
  margin: 0 1rem;
  color: #073791;
}

.contact-ads li:first-child {
  border-right:1px solid #073791;
}

/* Footer Copyright */
.footer-copyright-row{
    border-top: 1px lightgray solid;
}

/*         MOBILE          */

  @media only screen and (min-width:360px) and (max-width:420px) {
.row{
  margin: 0;
}

/* NavBar */
.navbar{
  height: 3.5rem;
  padding:0 0 1%;
}

/* NavBar Logo */
.navbar-brand{
  width: 22.5%;
}

/* Header */
.header{
  padding-bottom: 0;
}

.header h1 {
  font-size:3.5rem;
  margin:2.5rem 0 0;
  font-weight: 800;
}

/* Filters */
.mobile-filters{
  display:inline-flex;
  justify-content: space-around;
  width: 100%;
  padding:0;
}

.desktop-filters{
  display:none;
}

.bias{
  display: none;
}
/* Mobile Instructions Line  */
#instructions-line-2 {
  font-size: 1rem;
  z-index: 1;
  margin: 1rem auto;
  color: #290095;
}

#instructions-line-2:before {
  border-bottom: 2px solid #290095;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  width: 95%;
  z-index: -1;
}

#instructions-line-2 span {
  background: #FEF0EB;
  padding: 0 15px;
}

#instructions-line {
  font-size: 1rem;
  z-index: 1;
  margin: 1rem auto;
  color: #290095;
}

#instructions-line:before {
  border-bottom: 2px solid #290095;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 81px;
  width: 95%;
  z-index: -1;
}

#instructions-line span {
  background: #FEF0EB;
  padding: 0 15px;
}

  /*  Filter Colors  */
.fade-box-mobile{
  display:flex;
}

.filter-box{
  height: 4rem;
}

.filter-box .row{
  justify-content:center;
}

.fade-box{
  display:none;
}

.fade-box-mobile{
  margin:0;
}

.fade-check{
  margin:0;
  border:none;
  height: 3.5rem;
}

.fade-check button{
  height:3.5rem;
  padding:0;
}
/*MAIN*/
#main {
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    z-index:1;
}

.subline{
  background: black;
  margin-top:2rem;
}

.email-line{
  display:none;
}

/* Footer */

.footer-content{
  padding: 4% 0 3%;
  font-size: .75rem;
}

.footer-logo h2 {
  font-size:2.7rem;
}

.ball{
  display: none;
}

/* Footer Support Links  */

.footer-links {
  padding-left: 15%;
}

.footer-links a{
  color: #34353F;
  font-size:.8rem;
}

.right-foot-box {
  padding-left: 0;
}

/* Footer Copyright Line */

.contact-ads a {
  font-size:.75rem;
}

.footer-copyright{
  height: 50px;
}
}
